* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
.messageTitle{
    border-left:6px solid #1b809e; 
    background-color: #7d8492;
}
.messageTitle h2{
   padding-left: 15px; 
   color:#f6f7f8
}
.list{
    background-color: #d2d5db; 
}
.media{
    background-color: #F0F1F4;
}
.panel{
    margin:10px 20px 20px;
}
